black               # code formatter

flake8              # code style checker
pydocstyle[toml]    # docstring style checker
                    # warns about ignoring pyproject.toml if no toml package
pylint              # code style checker
mypy                # type checker

pytest              # testing framework
pytest-cov          # coverage checking

sphinx              # documentation generator
myst-parser         # required by sphinx to process Markdown
sphinx-rtd-theme    # Read the Docs theme
